

/* Body styling */

div {
    background-color: #ccddeb;
}
br {
    color: #ccddeb;
}
p {
    font-family: 'Bahnschrift Light', 'Leelawadee', 'Calibri', 'Sans-Serif';
    text-align: center;
    font-style: normal;
    font-weight: lighter;
    color: #11171c;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bahnschrift Light', 'Leelawadee', 'Calibri', 'Sans-Serif';
    text-align: center;
    font-style: normal;
    font-weight: lighter;
    color: #11171c;
}
table {
    background-color: #ccddeb;
    width: 100%;
    border-collapse: collapse;
}
td {
    background-color: #ccddeb;
    width: 20%;
    border-collapse: collapse;
}

.body {
    background-color: #ccddeb;
    padding-left: 35px;
    padding-right: 35px;
    margin: 0;
}
