/* Classes*/
.headLinks {
  font-family: 'Montserat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: right;
  color: #11171c;
}

.currentTab {
  font-family: 'Montserat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2px;
  text-align: right;
  color: #11171c;
}

.bodyIndent {
  padding-left: 45px;
}


body {
  background: #ccddeb;
  margin: 0;
}

h1 {
  font-family: 'Montserat', sans-serif;
  font-size: 44px;
  font-style: bold;
  font-weight: 50;
  letter-spacing: 16px;
  color: #11171c;
}

h2 {
  font-family: 'Montserat', sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #11171c;
}

h3 {
  font-family: 'Montserat', sans-serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #11171c;
}

h4 {
  font-family: 'Montserat', sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;  
  color: #11171c;
}

h5 {
  font-family: 'Montserat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px; 
  color: #11171c; 
}

h6 {
  font-family: 'Montserat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;  
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  color: #11171c;
}

p {
  font-family: 'Montserat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #11171c;
}



/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background: #ccddeb;
  padding: 0px;
  margin: 0px;
}

tr {
  border-collapse: collapse;
  background: #ccddeb;
  padding: 0px;
  margin: 0px;
}

th, td {
  font-family: 'Montserat', sans-serif;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 8px;  
  background: #ccddeb;
}








