
/* CSS for site. Global definitions and area-specific classes */
/* Applying the .header, .body, and .footer classes to a <div> will format the block as that page section */

/* Base element definitions */

hr {
    border: #11171c;
    height: 1px;
    background-color: #11171c;
}

td {
    width: 150px;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Bahnschrift Light', 'Leelawadee', 'Calibri', 'Sans-Serif';
    text-decoration: none;
    font-style: normal;
    font-weight: lighter;
    line-height: 50%;
    color: #11171c;
}
p {
    font-size: 20px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 28px;
}
h6 {
    font-size: 24px;
}
a {
    font-family: 'Bahnschrift Light', 'Leelawadee', 'Calibri', 'Sans-Serif';
    text-decoration: none;
    color: #11171c;
    font-size: 20px;
    text-align: left;
}

body, div {
    background: #ccddeb;
    background-color: #ccddeb;
    padding-top: 0px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    
    font-family: 'Bahnschrift Light', 'Leelawadee', 'Calibri', 'Sans-Serif';
    font-style: normal;
    font-weight: lighter;
    color: #11171c;
    
    width: 100%;
    border-collapse: collapse;
}